html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.toggle {
  border: none;
  background: currentColor;
  width: 10em;
  height: 10em;
  transition: border-radius .2s;
  cursor: pointer;
}

.toggle--on {
  border-radius: 0;
}

.toggle--off {
  border-radius: 50%;
}